.isComplitedTaskButton {
    width: 14px;
    height: 14px;
    border: 2px solid #33dd6c;
    float: right;
    margin: 0px 15px;
    padding: 0;
    background-color: #050561;
}

.isComplitedTaskButton:hover::before  {
    content: '\2714';
    color: #33dd6c;
    text-align: center;
}
